body{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: whitesmoke;
}

header{
	width: 100%;
	height: 120px;
	background-color: #cecece;
	display: block;
}

#titre {
    margin: auto;
    border: 1px solid blue;
    border-radius: 20px;
    width: 500px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
}

#titre_bar {
    display: inline-flex;
    width: 100%
}

#bar_nav {
    margin-left: 70%;
    margin-top: -30px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

footer{
	position:fixed;
	bottom:0px;
	width: 100%;
	background-color: #cecece;
	height: 30px;
}
#foot{
    display: inline-flex;
    margin-left: 40%;
}


#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../image/integration.png') no-repeat center;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}


section{
	height: 500px;
	overflow: auto;
}